@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body {
  background-color: burlywood;
  height:100%;
  font-family: 'Noto Sans', sans-serif;
}
.container {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.search {
  text-align:center;
  &__heading {
  font-size: 30px;
  padding: 16px 0;
  color: #352e2e;
  }
  &__lable{
    width: 50%;
    height: 1rem;
  }
}
.repos__container {
  .errorMessage {
    padding-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .repo__card-status {
    text-align: center;
    padding-top: 2rem;

  .repo__status-image {
    color: gray;
    margin-right: 2rem;
    animation: rotate 1s linear infinite;
  }
}
.repo__navpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &-sum {
    padding: 1rem 2rem;
  }
  &-pages {
    padding: 1rem 2rem;
  }
  &-page {
    display: flex;
    flex-wrap: wrap;
    li {
      list-style-type: none;
      padding:0.5em
    }
  }
}
.repos{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .repo{
    &__card {
      min-height: 8rem;
      background: white;
      padding: 1rem;
      margin: 2%;
      text-align: center;
      border: solid 1px;
      div {
        padding-top: 1rem;
      }
    }
      
}
}
}
@media screen and (min-width: 916px) {
  .repo__card {
    width: 25%;
  }
  .search__heading {
    font-size: 2rem;
  }
  .repo__navpage {
    &-sum {
      font-size: 2rem;
    }
    &-pages {
      font-size: 1.5rem;
    }
  }
}
@media screen and (min-width: 694px) and (max-width: 915px) {
  .repo__card {
    width: 40%;
  }
  .search__heading {
    font-size: 2rem;
  }
  .repo__navpage {
    &-sum {
      font-size: 2rem;
    }
    &-pages {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .repo__card {
    width: 40%;
  }
  .search__heading {
    font-size: 1.5rem;
  }
  .repo__navpage {
    &-sum {
      font-size: 1.5rem;
    }
    &-pages {
      font-size: 1rem;
    }
  }
}


@media screen and (max-width: 651px) {
  .repo__card {
    width: 100%;
    margin: auto;
  }
  .search__heading {
    font-size: 1.5rem;
  }
  .repo__navpage {
    &-sum {
      font-size: 1.5rem;
    }
    &-pages {
      font-size: 1rem;
    }
  }
}